/${HYBRIS_DATA_DIR}
/log
/temp
/roles
/.idea
/data

/config/*
!/config/localextensions.xml
!/config/local.properties

/bin/modules/
/bin/platform/

/bin/custom/saptraining/*/lib/
/bin/custom/saptraining/**/classes/
/bin/custom/saptraining/*/gensrc/
/bin/custom/saptraining/*/.settings/
/bin/custom/saptraining/saptrainingtest
/bin/custom/saptraining/saptrainingbackoffice
/bin/custom/saptraining/saptrainingcore
/bin/custom/saptraining/saptrainingfacades
/bin/custom/saptraining/saptrainingfulfilmentprocess
/bin/custom/saptraining/saptraininginitialdata
/bin/custom/saptraining/saptrainingstorefront

/bin/custom/saptraining/*/web/webroot/WEB-INF/lib/
rebel.xml
*.build.number
*.xsd
*.xmi
*.classpath
*.project
*.springBeans
*launch
*.class
dummy.txt
sap-hybris-platform.png
platformhome.properties
